<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Routing Example App</title>
  </head>
  <body>
    <div id="app" class="jumbotron text-center">
    <h1>后台管理平台</h1></div>
    <div id="button" class="text-center">
    <button class="btn btn-default" onclick="javascript:window.location.href='/register'" >&nbsp注册&nbsp</button>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button class="btn btn-default" onclick="javascript:window.location.href='/login'" >&nbsp登录&nbsp</button>
    </div>
  </body>
  <footer class="navbar-fixed-bottom">
      <div class="jumbotron text-center">
        <h4 class="text-muted">©CopyRight dijkstra</h3>
        <h5 class="text-muted">2020</h4>
      </div>
  </footer>
</html>
